*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif !important;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: rgba(26, 25, 29, 0.808);
	overflow-x: hidden;
  font-family: 'Roboto', sans-serif !important;
}

.page-wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.movies-container{
  margin-top: 50px;
  width: 80%;
  max-width: 1500px;
}
.search-container{
  display: flex;
  margin-top: 100px
}
.input-search{
  width: 500px;
  border-radius: 15px;
  margin-right: 50px;
  border: none;
  outline: none;
  padding: 5px 20px;
  background-color:rgb(23, 22, 26);
  color: rgba(242, 247, 246, 0.9);
  font-size: 16px;
}
.input-search::placeholder{
  color: rgba(242, 247, 246, 0.9);
}
.form-container{
  display: flex;
}
.genre-changer{
  color: rgba(242, 247, 246, 0.9);
  margin: 2px 0;
}

.genre{
  margin: 0;
  color:#8cddbebe;
}
.css-gw0fbg-InputComponent{
  width: calc(5ch + 10px) !important;
}

.react-dropdown-select-input::placeholder{
  color:#8cddbebe!important;
  font-size: 16px !important;
}
.react-dropdown-select-dropdown-handle{
  font-size: 10px !important;
}
.react-dropdown-select-content{
  color:#8cddbebe !important;
}
.css-wmw4vi-ReactDropdownSelect {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
.css-148o527-ItemComponent {
  color: rgba(242, 247, 246, 0.9) !important;
  font-size: 14px !important;
  background-color: rgb(23, 22, 26) !important;
  border: none !important;
    padding: 10px !important;
}
.css-148o527-ItemComponent:hover{
  background: rgba(10, 92, 74, 0.9) !important;
}
.react-dropdown-select-dropdown{
  border: none !important;
  background: none !important;
  width: auto !important;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.react-dropdown-select-dropdown::-webkit-scrollbar {
  display: none !important;
}


.movies{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.movie{
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 10px 15px;
  color: rgba(242, 247, 246, 0.9);
}
.movie-poster{
  width: 200px;
}

.movie-title{
  font-size: 16px;
  font-weight: 600;
}
.date-and-rating{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.rating-container{
  background-color: #6cecbbbe; 
  width: 35px;
  height: 30px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.movie-rating{
  color: rgb(0, 0, 0);
  font-weight: 600;
}